* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(to bottom left, #3333cc, #2e2eb8, #4747d1, #3366ff, #8080ff, violet);
    text-align: center;
    color: black;
    text-align: center;
    margin: 20px;
}

h1 {
    margin: 30px;
}

h2 {
    margin: 30px;
    color: white;
    text-transform: uppercase;
    text-shadow: whitesmoke;
}

.container {
    display: flex;
    flex-direction: row;
   
}

.box {
    background:rgba(255, 255, 255, 0.4);
    font-size: 1em;
    margin: 20px;
    border: 2px solid rgba(255, 255, 255, 0.1);
}

button {
    background: gold;
    border: rgba(255, 255, 255, 0.4) solid 2px;
    border-radius: 5px;
    height: 30px;
    width: 100px;
}

li {
    list-style: inherit;
    text-align: center;
    list-style-type: none;
    text-decoration: underline;

}